@charset "utf-8";

/* 초기 값 */
*{margin: 0;padding: 0;box-sizing: border-box;}
a:link,a:visited{text-decoration: none;}
.clearfix::after{content: ""; display: block; clear: both;}
li{list-style-type: none;}

.container{width: 980px;margin: 0 auto; background: #fff;}

/* 헤더 */
#hd .logo{background: #000;}